<div class="container">
    <br>
    <div class="row">
        <div class="col" *ngFor="let product of products; let id = index">
            <a [routerLink]="[id]">
                <div class="card">
                    <img src="./assets/img/placeholder-image.png" class="card-img-top">
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}<br>{{ product.description }}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>